table {
    border-collapse: collapse;
    width: 80%;
  }

tr:nth-child(even){
    background-color: #f2f2f2;
}

#schedule tr:hover {
    background-color: rgb(177, 255, 177);
}
  
table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}