body {
    font-family: 'Noto Sans', sans-serif;
}

#searchDiv{
    width: 70%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: whitesmoke;
    padding: 10px;
    border: solid 1px #adadad;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #adadad;
    position: relative;
}

header {
    text-align: center;
    padding: 20px;
    font-family: 'Faster One', cursive;
    letter-spacing: 5px;
    color: #c94c4c;
}

header > h1 {
    font-size: 50px;
}

#twoStations {
    text-align: center;
}

#loginBtn {
    position:absolute;
     top:0;
     right:0;
     margin: 5px;
}

#showLatest {
    position: absolute;
  top: 8px;
  right: 16px;
     margin: 5px;
}


#buttonForSearch, #showButton {
    background-color: #eea29a;
    color: black;
    border: solid 1px #adadad;
    border-radius: 4px;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 3px 3px 3px #adadad;
}

#buttonForSearch:hover {
    background-color: #c94c4c;
    color: white;
}

input[type=text] {
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


table {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    border-collapse: collapse;
    border: 1px solid darkgray;
    margin-bottom: 5%;
    background-color: white;
}

thead {
    background-color: #eea29a;
}

th {
    height: 30px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

#schedule tr:hover {
    background-color: #deeaee;
}
  
table, th, td {
    text-align: center;
    padding: 15px;
}
